{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        <p class="lead">Hello, I'm</p>
        <h1 class="display-4">Omid Estaji</h1>
        <p class="lead text-center">
            <img src="{% static 'avatar.jpeg' %}" class="img-fluid img-thumbnail rounded-circle" alt="..." width="200" height="200">
        </p>
        <p class="lead">I enjoy studying and self-learning. I skilled in Cisco & MikroTik networking, Linux & Microsoft system administration and Python programming. Also I interested in Security and DevOps, so I follow them in my road map. I'm an organized and positive person who looks for progress.</p>
        <p class="lead text-center">
            <a class="btn btn-outline-info" href="mailto:estaji.work@gmail.com" role="button"><i class="fa fa-envelope-o" aria-hidden="true"> Message Me</i></a>
        </p>
    </div>
   
    <div class="card">
        <h2 class="card-header">Experiences</h2>
        {% for job in jobs.all %}
            <div class="card-body">
                <h4 class="card-title">{{ job.title }}</h4>
                <div class="card-subtitle mb-2 text-muted">
                    <div style="float:right;">{{ job.start }} - {{ job.end }}<br/><small style="float:right;">{{ job.location }}</small></div>
                    <div><img src="{{ job.logo.url }}" class="card-img-left" alt="..." width="65" height="65"><a class="card-link" rel="nofollow" href="{{ job.url }}" target="_blank">&nbsp;{{ job.company }}</a></div>
                </div>
                <div>
                    <p class="card-text">{{ job.summary }}</p>
                </div>
                <ul>
                    <li>Bullet one Bullet one</li>
                    <li>Bullet two Bullet two</li>
                    <li>Bullet three Bullet three</li>
                    <li>Bullet four Bullet four</li>
                </ul>
            </div>
        {% endfor %}
    </div>

{% endblock content %}