{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
        <p class="lead">Hello, I'm</p>
        <h1 class="display-4">Omid Estaji</h1>
        <p class="lead text-center">
            <img src="{% static 'avatar.jpeg' %}" class="img-fluid img-thumbnail rounded-circle" alt="..." width="200" height="200">
        </p>
        <p class="lead">I enjoy studying and self-learning. I skilled in Cisco & MikroTik networking, Linux & Microsoft system administration and Python programming. Also I interested in Security and DevOps, so I follow them in my road map. I'm an organized and positive person who looks for progress.</p>
        <p class="lead text-center">
            <a class="btn btn-outline-info" href="mailto:estaji.work@gmail.com" role="button"><i class="fa fa-envelope-o" aria-hidden="true"> Message Me</i></a>
        </p>
    </div>
   
    <div class="card">
        <h2 class="card-header">Experiences</h2>
        {% for job in jobs.all %}
            <div class="card-body">
                <h4 class="card-title">{{ job.title }}</h4>
                <div class="card-subtitle mb-2 text-muted">
                    <div style="float:right;">{{ job.start }} - {{ job.end }}<br/><small style="float:right;">{{ job.location }}</small></div>
                    <div><img src="{{ job.logo.url }}" class="card-img-left" alt="..." width="65" height="65"><a class="card-link" rel="nofollow" href="{{ job.url }}" target="_blank">&nbsp;{{ job.company }}</a></div>
                </div>
                <div>
                    <p class="card-text">{{ job.summary }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    </br>
    <div class="card">
        <h2 class="card-header">Education</h2>
        {% for edu in edus.all %}
            <div class="card-body">
                <h4 class="card-title">{{ edu.level }}&nbsp;{{ edu.title }}</h4>
                <div class="card-subtitle mb-2 text-muted">
                    <div style="float:right;">{{ edu.start }} - {{ edu.end }}</div>
                    <div><h5>{{ edu.university }}</h5></div>
                </div>
            </div>
        {% endfor %}
    </div>
    </br>
    <div class="card">
        <h2 class="card-header">Technical Skills</h2>
        <div class="card-body">
            {% for skill in skill.all %}
                <h5 class="card-subtitle mb-3">
                    {{ skill.skill }}&nbsp;
                    {% if skill.star == 1 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    {% elif skill.star == 2 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    {% elif skill.star == 3 %}
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    {% endif %}
                </h5>
            {% endfor %}
        </div>
    </div>
    </br>
    <div class="card">
        <h2 class="card-header">Languages</h2>
            <div class="card-body">
                {% for lang in langs.all %}
                        <h5 class="card-subtitle mb-2">{{ lang.lang }}</h5>
                        <div class="card-subtitle mb-3 text-muted">
                            {{ lang.level }}
                        </div>
                {% endfor %}
            </div>
    </div>

{% endblock content %}